{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio</title>
    <meta name="description" content="Portfolio Template for Developer" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="{% static 'georg.png' %}"
              alt="Ram Maheshwari Logo Image"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">Georg-Nikola</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="{% url 'index' %}" class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'about' %}" class="header__link">About </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'projects' %}" class="header__link">
                Projects
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'contact' %}" class="header__link"> Contact </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="{% static 'ham-menu.svg' %}"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="{% static 'ham-menu-close.svg' %}"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="{% url 'index' %}"> Home </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'about' %}"> About </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'projects' %}"> Projects </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'contact' %}"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    {% block page_content %}
    {% endblock %}

    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="linkedin.com/in/georg-nikola-pavlov-profile">
                <img
                  class="main-footer__icon"
                  src="{% static 'linkedin-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="https://github.com/georg-nikola/">
                <img
                  class="main-footer__icon"
                  src="{% static 'github-ico.png' %}"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">John Doe</h4>
            <p class="main-footer__short-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit facilis
              tempora explicabo quae quod deserunt
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
