{% extends 'base.html' %}
{% block page_content %}
    <!-- ***** Header ***** -->

    <header class="header" role="banner" id="header">
        <div class="header__text-box">
            <h1 class="heading-primary">Hi! I am Nisar</h1>
            <p class="header__description">
                A Web Developer who creates UX rich performant websites and web
                applications.
            </p>
            <a href="#popup" class="btn btn__hire" id="hire">Hire Me &nbsp;&rarr;</a>
        </div>
        <!-- <p class="header__director">Scroll Down &darr;</p> -->
    </header>
{% endblock %}




