{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section id="projects" class="projects sec-pad">
        <div class="main-container">
            <h2 class="heading heading-sec heading-sec__mb-bg">
                <span class="heading-sec__main">Projects</span>
                <span class="heading-sec__sub">
            Here is a short list of my projects
          </span>
            </h2>

            <div class="projects__content">
                <div class="projects__row">
                    <div class="projects__row-img-cont">
                        <img
                                src="{% static 'budget.png' %}"
                                alt="Software Screenshot"
                                class="projects__row-img"
                                loading="lazy"
                        />
                    </div>
                    <div class="projects__row-content">
                        <h3 class="projects__row-content-title">Budget</h3>
                        <p class="projects__row-content-desc">
                            The "Budget" project started as a certification defence project
                            in Software University (SoftUni) Sofia. It was simple enough
                            to satisfy all the listed requirements, but
                            I will keep on improving it when I find spare time.
                            So check it out
                        </p>
                        <a
                                href="https://github.com/georg-nikola/budget"
                                class="btn btn--med btn--theme dynamicBgClr"
                                target="_blank"
                        >Budget</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}